<style type="text/css">
	div.highlight {
		/* make code compact */
		line-height: 1.1rem;
		/* make 80 cols fit */
		width: 825px;
	}
	div.highlight pre {
		/* make background extend above and below code */
		padding: 10px 0;
	}
	code {
		/* override hyde-hyde colors */
		background-color: transparent !important;
		color: inherit !important;
	}
	pre {
		margin: 0; /*css reset*/
	}
	pre code span:first-child {
		/* fix the first line number */
		margin-left: -8px;
	}
</style>

<link rel="stylesheet" type="text/css" href="/css/monokai.css">